iptables:
  enabled: True
  reset: True
  whitelist:
    - 192.168.0.0/16
    - 10.0.0.0/16
  tables:
    filter:
      chains:
        input:
          policy: drop
          rules:
            ssh:
              comment: "ssh"
              ports: 443
              interfaces: eth0
            openvpn:
              comment: "openvpn"
              ports: 1194
              proto: udp
              interfaces: eth0
        forward:
          policy: drop
          rules:
            openvvpn_in:
              in_interface: tun0
              out_interface: eth0
              match: state
              connstate: 
                - RELATED
                - ESTABLISHED
            openvpn_out:
              in_interface: eth0
              out_interface: tun0
    nat:
      chains:
        postrouting:
          openvpn:
            out_interface: eth0
            source: 10.8.0.0/24

