iptables:
  enabled: true
  install: true
  strict: false
  whitelist:
    - 192.168.1.0/16
  services:
    ssh:
      comment: "ssh"
      ports: 443
      interfaces: eth0
    http:
      interfaces: eth0
    plex:
      comment: "plex"
      ports: 32400
      interface: eth0
    transmission:
      comment: "transmission"
      ports: 9091
      interface: eth0
